/*
C19AB7 - Lilac for writing and buttons
0B7189 - Creulean TBD
85C7F2 - Light Sky blue TBD
170A1C - Dark Purple for background
2F2963 - Space Cadet not sure yet probably for highlights
*/
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@keyframes expand {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }
  100% {
    width: 75vh;
    height: 60vh;
    opacity: 1;
  }
}

html {
  font-family: 'Source Code Pro', monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #c19ab7;
}

body {
  cursor: url('assets/diamond.png'), auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-color: #170a1c;
  margin: 0;
  padding: 0 5%;
}

.title {
  font-size: 4rem;
  margin-bottom: 0.5rem;
}
.mainBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem;
  padding-left: 6rem;
  max-width: 500px;
}

.subtext {
  display: flex;
  flex-direction: column;
}

.subtext {
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #c19ab7;
  width: 0;
  animation: typing 2s steps(30, end) forwards, blink 1s step-end infinite;
}

button {
  cursor: url('assets/close-stroke.png'), auto;
  font-family: 'Source Code Pro', monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #c19ab7;
}
button:active {
  cursor: url('assets/close-stroke.png'), auto;
}
button:hover {
  cursor: url('assets/close-stroke.png'), auto;
}

.taskBarButtons {
  background-color: transparent;
  border: none;
  font-size: 2.5rem;
  color: #c19ab7;
  padding-right: 2rem;
  padding-bottom: 1rem;
  transition: background-color ease 0.3s;
}
.taskBar {
  display: flex;
  justify-content: space-between; /* Ensures spacing between left and right sections */
  align-items: center;
  overflow: hidden;
  border-bottom: 2px solid #c19ab7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  background-color: #170a1c;
}
.taskBar .left {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.taskBar .right {
  display: flex;
  align-items: center;
  margin: 0;
  margin-right: 1rem;
  padding: 0;
}
#Home {
  background-color: transparent;
  border: none;
  font-size: 2.5rem;
  color: #c19ab7;
  transition: background-color ease 0.3s;

  img {
    margin-top: 5px;
    width: 60px;
    height: 60px;
    filter: invert(66%) sepia(16%) saturate(504%) hue-rotate(257deg)
      brightness(92%) contrast(92%);
  }
}
.mainButton {
  font-size: 1rem;
  border: none;
  padding: 0.75rem;
  background-color: white;
  transition: background-color 0.3s ease;
  a {
    color: inherit;
    text-decoration: none;
    display: block; /* Ensures the entire button is clickable */
    width: 100%;
    height: 100%;
  }
}
.mainButton:hover,
.taskBarButtons:hover {
  background-color: #f1e1ed;
}
.mainButton:active,
.taskBarButtons:active {
  background-color: #3e2a47;
}

// .codeText {
//   white-space: nowrap;
//   overflow: hidden;
//   border-right: 2px solid #c19ab7; /* Blinking cursor */
//   width: 0;
//   //animation: typing 4s steps(40, end) forwards;
// }
.codeSnippet {
  scrollbar-width: none;
  border: 2px solid #c19ab7;
  overflow-y: scroll;
  background-color: white;
  margin-left: 10rem;
  width: 75vh;
  height: 60vh;
  opacity: 1;
  white-space: pre;
  animation: expand 1s ease-out forwards;
  scroll-behavior: smooth;
}

.language-javascript {
  line-height: 1px !important;
  margin: 0;
}
.codeSnippet code {
  font-size: 0.8rem !important; /* Adjust as needed */
  margin: 0;
  color: #ffffff; /* Ensures white text */
}

.codeSnippet pre {
  //background: none #fcf2f2 !important;
  background: none !important;
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: none;
}

.hotLinks {
  display: flex;
  justify-content: start;
  margin-top: 8.5rem;
  gap: 1rem;
}

.hotLinks button {
  //background: none;
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;

  padding: 0.5rem;
}
.hotLinks img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Github {
  padding: 2rem;
  border-radius: 100px;
}

.NPM {
  padding: 2rem;
  border-radius: 100px;
}

.Linkdin {
  padding: 2rem;
  border-radius: 100px;
}
.dashboard {
  display: flex;
  justify-content: center;
}

html,
body {
  overflow-y: hidden;
  margin: 0;
  padding: 0;
}
.Docs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 250px;
  width: 100vw; /* Ensures full viewport width */
  height: 100vh; /* Subtract the height of the taskbar */
  background-color: #3e2a47;
  color: #c19ab7;
}
.readMe p {
  font-size: 1.25rem;
}
.readMe {
  border-right: 2px solid#c19ab7;
  border-left: 2px solid#c19ab7;
  width: 90%;
  height: 100%; /* Ensures the readMe box takes up the full height */
  overflow-x: hidden;
  overflow-y: scroll;
  padding-right: 2rem; /* Adds some space between readMe and selector */
}

.selector {
  // z-index: 15;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  background-color: #170a1c;
  height: 100%;
  width: 10%;
}

.selector button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: #c19ab7;
  padding-right: 2rem;
  padding-bottom: 1rem;
  transition: background-color ease 0.3s;
}

.selector button:hover {
  background-color: #f1e1ed;
}

.selector button:active {
  background-color: #3e2a47;
}

.readMe h1 {
  margin-top: 0; /* Removes default margin from h1 */
}

.readMe hr {
  width: 100%; /* Ensures hr spans the full width of the readMe div */
  border: 0;
  height: 3px;
  background-color: #c19ab7; /* Matches the color theme */
  margin: 1rem 0; /* Adds some space above and below the hr */
}

.paragraph {
  padding-top: 2rem;
  padding-left: 2rem;

  img {
    width: 100%;
    height: 50%;
  }
}

.readCode {
  font-size: 1.25rem;
  //background-color: white;
}

.codeblock {
  border: 3px solid #c19ab7;
  padding: 1rem;
  background-color: white;
  width: 95%;
}
.space {
  background-color: #3e2a47;
  height: 20vh;
  width: 20vw;
}

.ImageA {
  width: 25% !important;
}
.ImageB {
  width: 25% !important;
}

ul {
  font-size: 1.25rem;
}

ul li ol {
  font-size: 1rem;
}

ul li ol li {
  font-size: 1rem;
}

.instructions {
  color: #170a1c;
  background-color: #ffffff;
  font-size: 1rem !important;
}
#listP {
  font-size: 1rem;
}

.links {
  color: #85c7f2;
  //text-decoration: none;
  // display: block; /* Ensures the entire button is clickable */
  width: 100%;
  height: 100%;
}

ol li {
  font-size: 1.2rem;
}

.readCode {
  font-size: 1rem;
}

.About {
  font-size: 4rem;
  margin-bottom: 0.5rem;
}
.aboutSubtext {
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #c19ab7;
  width: 0;
  animation: typing 2s steps(30, end) forwards, blink 1s step-end infinite;
}
